@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: text-regular;
   src: url("/fonts/static/Unbounded-Regular.ttf");
}

body {
   overflow-x: hidden;
}

h1,
h2,
h3,
p,
span,
li {
   font-family: "text-regular";
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background: #151414;
   border-radius: 100px;
}

.overflow {
   overflow: hidden !important;
}
.overflowY {
   overflow-y: scroll !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
   --swiper-theme-color: #000 !important;
   --swiper-navigation-size: 25px !important;
}

:root {
   --swiper-theme-color: #000 !important;
}
